.img1 {
  width: 18px;
  height: 18px;
}
.img2 {
  width: 14px;
  height: 17px;
}
.img3 {
  width: 18px;
  height: 12px;
  margin-top:4px;
}
.tabfont {
  font-size: 10px;
//   color: rgba(7, 130, 179, 1);
  line-height: 10px;
  margin-top: 3px;

}
.tabfont1 {
   font-size: 10px;
 //   color: rgba(7, 130, 179, 1);
   line-height: 10px;
   margin-top: 3px;
 }
