<ion-header mode='ios'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style=text-align:center>综合分析
    </ion-title>
    <!-- <ion-buttons slot="end" (click)="presentPopover($event)">
      <img style="margin-right:5px;" src="../../assets/icon_report.png" />
    </ion-buttons> -->
  </ion-toolbar>
  <div style="margin-left:20px;margin-right:20px;margin-top: 10px;">
    <ion-segment mode='ios' scrollable='true'>
      <ion-segment-button mode='ios' value="today" checked (ionSelect)="todayClicked($event)">
        <ion-label>今日</ion-label>
      </ion-segment-button>
      <ion-segment-button mode='ios' value="week" (ionSelect)="weekClicked($event)">
        <ion-label>本周</ion-label>
      </ion-segment-button>
      <ion-segment-button mode='ios' value="month" (ionSelect)="monthClicked($event)">
        <ion-label>本月</ion-label>
      </ion-segment-button>
      <ion-segment-button mode='ios' value="year" (ionSelect)="yearClicked($event)">
        <ion-label>全年</ion-label>
      </ion-segment-button>
      <ion-segment-button mode='ios' value="diytime" (ionSelect)="diytimeClicked($event)">
        <ion-label>自定义时段</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>


  <div style="display:flex" [ngClass]="{'hidden': !diytimeSelected}">
    <div style="margin-left:20px;margin-top: 10px;flex:1">
      <div class="datetime">
        <ion-datetime displayFormat="YYYY/MM/DD" min="2017-03-14" max='2030-03-14' value="2018-09-23T15:03:46.789"
          cancelText='取消' doneText='确定' mode='ios' placeholder="Select Date"></ion-datetime>
        <span style="margin-right: 8px;"></span>
        <div class='mystyle'></div>
      </div>
    </div>

    <span style="margin-top: 10px;
    display: flex;justify-content: center;align-items: center;flex:1;
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(0,0,0,0.65);
">~</span>

    <div style="margin-right:20px;margin-top: 10px;float: right;flex:1">
      <div class="datetime">
        <ion-datetime displayFormat="YYYY/MM/DD" min="2017-03-14" max='2030-03-14' value="2018-09-23T15:03:46.789"
          cancelText='取消' doneText='确定' mode='ios' placeholder="Select Date"></ion-datetime>
        <span style="margin-right: 8px;"></span>
        <div class='mystyle'></div>
      </div>
    </div>
  </div>

  <div style="padding:0 20px;">
    <div style="display:flex; 
    overflow: auto;">
      <div style="margin-top: 10px;" (click)='openPickerjwd()'>
        <div class="actionsheet">
          <span style="font-size:13px;color:rgba(0, 0, 0, 0.65);
           margin-left: 8px;margin-right: 8px;white-space:nowrap; ">{{jwd}}</span>
          <div class='mystyle1'></div>
        </div>
      </div>

      <div style="margin-left:10px;margin-top: 10px;" (click)='openPickercj()'>
        <div class="actionsheet">
          <span style="font-size:13px;color:rgba(0, 0, 0, 0.65);margin-left: 8px;
          margin-right: 8px;white-space:nowrap; ">{{cj}}</span>
          <div class='mystyle1'></div>
        </div>
      </div>

      <div style="margin-left:10px;margin-top: 10px;" (click)='openPickercd()'>
        <div class="actionsheet">
          <span style="font-size:13px;color:rgba(0, 0, 0, 0.65);margin-left: 8px;
          margin-right: 8px;white-space:nowrap; ">{{cd}}</span>
          <div class='mystyle1'></div>
        </div>
      </div>

      <div style="margin-left:10px;margin-top: 10px;" (click)='openPickerzdz()'>
        <div class="actionsheet">
          <span style="font-size:13px;color:rgba(0, 0, 0, 0.65);margin-left: 8px;
          margin-right: 8px;white-space:nowrap; ">{{zdz}}</span>
          <div class='mystyle1'></div>
        </div>
      </div>

      <div style="margin-left:10px;margin-top: 10px;" (click)='openPickercwy()'>
        <div class="actionsheet">
          <span style="font-size:13px;color:rgba(0, 0, 0, 0.65);margin-left: 8px;
          margin-right: 8px;white-space:nowrap; ">{{cwy}}</span>
          <div class='mystyle1'></div>
        </div>
      </div>
    </div>
  </div>
  <div style="height:9px;width:100vw;"></div>
  <div style="height:1px;width:100vw;background: rgba(238, 240, 244, 1)"></div>

</ion-header>

<ion-content>
  <div [ngClass]="{'hidden': !todaySelected}">
    <div class='headline'>
      <span class="headtitle">视频转储与分析数量</span>
      <div class="headsegment">
        <div class='allanasis1' [ngClass]="{'selected':(flag=='isflag1')}" (click)="clickbar()">
          <img src="../../assets/barchart1.png" *ngIf="flag=='isflag1'" class="img-icon" />
          <img src="../../assets/barchart.png" *ngIf="flag!='isflag1'" class="img-icon" />
        </div>
        <div class='allanasis2' [ngClass]="{'selected1':(flag=='isflag2')}" (click)="clickline()">
          <img src="../../assets/line-chart1.png" *ngIf="flag=='isflag2'" class="img-icon" />
          <img src="../../assets/line-chart.png" *ngIf="flag!='isflag2'" class="img-icon" />
        </div>
        <div class='allanasis3' [ngClass]="{'selected2':(flag=='isflag3')}" (click)="clicktable()">
          <img src="../../assets/table1.png" *ngIf="flag=='isflag3'" class="img-icon" />
          <img src="../../assets/table.png" *ngIf="flag!='isflag3'" class="img-icon" />
        </div>
      </div>
    </div>
    <div style="display:flex;margin-top:-23px;z-index: -100;">
        <div #chart style="width:2px;height:220px;"></div>
    </div>

    <div style="width:100vw;height:5px;background: rgba(238, 240, 244, 1)"></div>
    <div class='headline'>
      <span class="headtitle">视频违章情况</span>
      <div class="headsegment">
        <div class='allanasis1' [ngClass]="{'selected':(flag1=='isflag1')}" (click)="clickbar1()">
          <img src="../../assets/barchart1.png" *ngIf="flag1=='isflag1'" class="img-icon" />
          <img src="../../assets/barchart.png" *ngIf="flag1!='isflag1'" class="img-icon" />
        </div>
        <div class='allanasis2' [ngClass]="{'selected1':(flag1=='isflag2')}" (click)="clickline1()">
          <img src="../../assets/line-chart1.png" *ngIf="flag1=='isflag2'" class="img-icon" />
          <img src="../../assets/line-chart.png" *ngIf="flag1!='isflag2'" class="img-icon" />
        </div>
        <div class='allanasis3' [ngClass]="{'selected2':(flag1=='isflag3')}" (click)="clicktable1()">
          <img src="../../assets/table1.png" *ngIf="flag1=='isflag3'" class="img-icon" />
          <img src="../../assets/table.png" *ngIf="flag1!='isflag3'" class="img-icon" />
        </div>
      </div>
    </div>

    <div style="display:flex;margin-top:-33px;z-index: -100;">
        <div #chart2 style="width:2px;height:375px;"></div>
    </div>
  </div>

  <div [ngClass]="{'hidden': !weekSelected}">
      <div class='headline'>
        <span class="headtitle">视频转储与分析数量</span>
        <div class="headsegment">
          <div class='allanasis1' [ngClass]="{'selected':(flag2=='isflag1')}" (click)="clickbar2()">
            <img src="../../assets/barchart1.png" *ngIf="flag2=='isflag1'" class="img-icon" />
            <img src="../../assets/barchart.png" *ngIf="flag2!='isflag1'" class="img-icon" />
          </div>
          <div class='allanasis2' [ngClass]="{'selected1':(flag2=='isflag2')}" (click)="clickline2()">
            <img src="../../assets/line-chart1.png" *ngIf="flag2=='isflag2'" class="img-icon" />
            <img src="../../assets/line-chart.png" *ngIf="flag2!='isflag2'" class="img-icon" />
          </div>
          <div class='allanasis3' [ngClass]="{'selected2':(flag2=='isflag3')}" (click)="clicktable2()">
            <img src="../../assets/table1.png" *ngIf="flag2=='isflag3'" class="img-icon" />
            <img src="../../assets/table.png" *ngIf="flag2!='isflag3'" class="img-icon" />
          </div>
        </div>
      </div>
      <div style="overflow:auto">
          <div #chart3 style="width:2px;height:320px;margin-top: 32px;margin-left: -15px;"></div>
      </div>
    
    <div style="width:100vw;height:20px;background: #fff"></div>
    <div style="width:100vw;height:5px;background: rgba(238, 240, 244, 1)"></div>
    
    <div class='headline'>
        <span class="headtitle">视频违章情况</span>
        <div class="headsegment">
          <div class='allanasis1' [ngClass]="{'selected':(flag3=='isflag1')}" (click)="clickbar3()">
            <img src="../../assets/barchart1.png" *ngIf="flag3=='isflag1'" class="img-icon" />
            <img src="../../assets/barchart.png" *ngIf="flag3!='isflag1'" class="img-icon" />
          </div>
          <div class='allanasis2' [ngClass]="{'selected1':(flag3=='isflag2')}" (click)="clickline3()">
            <img src="../../assets/line-chart1.png" *ngIf="flag3=='isflag2'" class="img-icon" />
            <img src="../../assets/line-chart.png" *ngIf="flag3!='isflag2'" class="img-icon" />
          </div>
          <div class='allanasis3' [ngClass]="{'selected2':(flag3=='isflag3')}" (click)="clicktable3()">
            <img src="../../assets/table1.png" *ngIf="flag3=='isflag3'" class="img-icon" />
            <img src="../../assets/table.png" *ngIf="flag3!='isflag3'" class="img-icon" />
          </div>
        </div>
      </div>




    <div class="regulations">
      <div class="regulations-nav">
        <div class="regulations-nav-li title">
          违章项点
        </div>
        <div class="regulations-nav-li">
          监控机关
        </div>
        <div class="regulations-nav-li">
          监控解锁
        </div>
        <div class="regulations-nav-li">
          LKJ启用日常制动
        </div>
        <div class="regulations-nav-li">
          LKJ启用紧急制动
        </div>
        <div class="regulations-nav-li">
          20km/h限速模式
        </div>
        <div class="regulations-nav-li">
          区间停车
        </div>
        <div class="regulations-nav-li">
          离岗(司机室无人)
        </div>
        <div class="regulations-nav-li">
          玩电子产品
        </div>
        <div class="regulations-nav-li">
          间断瞭望
        </div>
      </div>
      <div class="regulations-content">
        <table cellpadding="0" cellspacing="0">
          <tr class="myheaders">
            <th>2019/03/25</th>
            <th>2019/03/26</th>
            <th>2019/03/27</th>
            <th>2019/03/28</th>
            <th>2019/03/29</th>
            <th>2019/03/30</th>
            <th>2019/03/31</th>
          </tr>
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
          </tr>
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
          </tr>
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
          </tr>
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
          </tr>
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
          </tr>
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
          </tr>
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
          </tr>
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
          </tr>
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
          </tr>

        </table>
      </div>
    </div>
    <div style="height:10px;width:100vw;background:#fff"></div>
    <div style="width:100vw;height:5px;background: rgba(238, 240, 244, 1)"></div>
  </div>




  <div style="display:flex" [ngClass]="{'hidden': !monSelected}">
    months
  </div>

  <div [ngClass]="{'hidden': !yearSelected}">
    years
  </div>
  <div [ngClass]="{'hidden': !diytimeSelected}">
    diytimes
  </div>


</ion-content>