<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->

<ion-app>
  <ion-menu swipe-gesture=true>
    <ion-header>
      <ion-toolbar>
        <ion-title>管理员</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-menu-toggle auto-hide="false">
          <ion-item [routerDirection]="'root'" [routerLink]="['/button']"> test</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>